
*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body{
    background-color: #F8F8FF;
}

h1{
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

h3{
    margin-top: 10px;
    margin-bottom: 8px;
}

main{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

div{
    margin: 30px 20px 0 20px;
}

.containerGrama{
    background-color: #00FF7F;
    padding: 14px;
    width: 150px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
}

.grama{
    background-color: #98FB98;
    border-radius: 50%;
    cursor: pointer;
}

.containerFogo{
    background-color: #FF8C00;
    padding: 14px;
    width: 150px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
}

.fogo{
    background-color: #FFA500;
    border-radius: 50%;
    cursor: pointer;
}

.containerAgua{
    background-color: #1E90FF;
    padding: 14px;
    width: 150px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
}

.agua{
    background-color: 	#00BFFF;
    border-radius: 50%;
    cursor: pointer;
}

.containerInseto{
    background-color: #9ACD32;
    padding: 14px;
    width: 150px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
}

.inseto{
    background-color: 	#ADFF2F;
    border-radius: 50%;
    cursor: pointer;
}

.containerNormal{
    background-color: #B0E0E6;
    padding: 14px;
    width: 150px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
}

.normal{
    background-color: 	#E0FFFF;
    border-radius: 50%;
    cursor: pointer;
}

.containerVenenoso{
    background-color: #A020F0;
    padding: 14px;
    width: 150px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
}

.venenoso{
    background-color: 	#BA55D3;
    border-radius: 50%;
    cursor: pointer;
}

.containerEletrico{
    background-color: #FFD700;
    padding: 14px;
    width: 150px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
}

.eletrico{
    background-color: 	#FFFF00;
    border-radius: 50%;
    cursor: pointer;
}

.containerTerrestre{
    background-color: #D2691E;
    padding: 14px;
    width: 150px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
}

.terrestre{
    background-color: 	#CD853F;
    border-radius: 50%;
    cursor: pointer;
}

.containerFada{
    background-color: #DA70D6;
    padding: 14px;
    width: 150px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
}

.fada{
    background-color: 	#EE82EE;
    border-radius: 50%;
    cursor: pointer;
}

.containerLutador{
    background-color: #CD5C5C;
    padding: 14px;
    width: 150px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
}

.lutador{
    background-color: 	#F08080;
    border-radius: 50%;
    cursor: pointer;
}

.containerPsiquico{
    background-color: #FF6347;
    padding: 14px;
    width: 150px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
}

.psiquico{
    background-color: 	#FF7F50;
    border-radius: 50%;
    cursor: pointer;
}