
*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body{
    background-color: #F8F8FF;
}

h1{
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.regiao{
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

h3{
    margin-top: 10px;
    margin-bottom: 8px;
}

main{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

div{
    margin: 30px 20px 0 20px;
}

.containerGrama{
    background-color: #7CFC00;
    padding: 14px;
    width: 150px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
}

.containerGrama:hover{
    box-shadow: 2px 2px 2px 2px;
}

.grama{
    background-color: #ADFF2F;
    border-radius: 50%;
    cursor: pointer;
}

.containerFogo{
    background-color: #FF8C00;
    padding: 14px;
    width: 150px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
}

.containerFogo:hover{
    box-shadow: 2px 2px 2px 2px;
}

.fogo{
    background-color: #FFA500;
    border-radius: 50%;
    cursor: pointer;
}

.containerAgua{
    background-color: #1E90FF;
    padding: 14px;
    width: 150px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
}

.containerAgua:hover{
    box-shadow: 2px 2px 2px 2px;
}

.agua{
    background-color: 	#00BFFF;
    border-radius: 50%;
    cursor: pointer;
}

.containerInseto{
    background-color: #9ACD32;
    padding: 14px;
    width: 150px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
}

.containerInseto:hover{
    box-shadow: 2px 2px 2px 2px;
}

.inseto{
    background-color: 	#ADFF2F;
    border-radius: 50%;
    cursor: pointer;
}

.containerNormal{
    background-color: #C0C0C0;
    padding: 14px;
    width: 150px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
}

.containerNormal:hover{
    box-shadow: 2px 2px 2px 2px;
}

.normal{
    background-color: 	#DCDCDC;
    border-radius: 50%;
    cursor: pointer;
}

.containerVenenoso{
    background-color: #A020F0;
    padding: 14px;
    width: 150px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
}

.containerVenenoso:hover{
    box-shadow: 2px 2px 2px 2px;
}

.venenoso{
    background-color: 	#BA55D3;
    border-radius: 50%;
    cursor: pointer;
}

.containerEletrico{
    background-color: #FFD700;
    padding: 14px;
    width: 150px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
}

.containerEletrico:hover{
    box-shadow: 2px 2px 2px 2px;
}

.eletrico{
    background-color: 	#FFFF00;
    border-radius: 50%;
    cursor: pointer;
}

.containerTerrestre{
    background-color: #D2691E;
    padding: 14px;
    width: 150px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
}

.containerTerrestre:hover{
    box-shadow: 2px 2px 2px 2px;
}

.terrestre{
    background-color: 	#CD853F;
    border-radius: 50%;
    cursor: pointer;
}

.containerFada{
    background-color: #DA70D6;
    padding: 14px;
    width: 150px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
}

.containerFada:hover{
    box-shadow: 2px 2px 2px 2px;
}

.fada{
    background-color: 	#EE82EE;
    border-radius: 50%;
    cursor: pointer;
}

.containerLutador{
    background-color: #CD5C5C;
    padding: 14px;
    width: 150px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
}

.containerLutador:hover{
    box-shadow: 2px 2px 2px 2px;
}

.lutador{
    background-color: 	#F08080;
    border-radius: 50%;
    cursor: pointer;
}

.containerPsiquico{
    background-color: #FF6347;
    padding: 14px;
    width: 150px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
}

.containerPsiquico:hover{
    box-shadow: 2px 2px 2px 2px;
}

.psiquico{
    background-color: 	#FF7F50;
    border-radius: 50%;
    cursor: pointer;
}

.containerPedra{
    background-color: #808080;
    padding: 14px;
    width: 150px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
}

.containerPedra:hover{
    box-shadow: 2px 2px 2px 2px;
}

.pedra{
    background-color: 	#A9A9A9;
    border-radius: 50%;
    cursor: pointer;
}

.containerFantasma{
    background-color: #6959CD;
    padding: 14px;
    width: 150px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
}

.containerFantasma:hover{
    box-shadow: 2px 2px 2px 2px;
}

.fantasma{
    background-color: 	#836FFF;
    border-radius: 50%;
    cursor: pointer;
}

.containerGelo{
    background-color: #87CEEB;
    padding: 14px;
    width: 150px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
}

.containerGelo:hover{
    box-shadow: 2px 2px 2px 2px;
}

.gelo{
    background-color: 	#ADD8E6;
    border-radius: 50%;
    cursor: pointer;
}

.containerDragao{
    background-color: #4682B4;
    padding: 14px;
    width: 150px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
}

.containerDragao:hover{
    box-shadow: 2px 2px 2px 2px;
}

.dragao{
    background-color: 	#B0C4DE;
    border-radius: 50%;
    cursor: pointer;
}